#table2 {
    border-collapse: collapse;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15%;
}
#table2 th {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: black;
    color: white;
    font-size: 18px;
    border: 1px solid #ddd;
    padding: 8px;

}
#table2 td {
    font-size: 16px;
    
}

#table2 tr:nth-child(even){background-color: #f2f2f2;}

#table2 tr:hover {background-color: #ddd;}

.container  .btn.btn-primary {
    background: #f0ad4e none repeat scroll 0 0;
    border-color: #0c0c0b;
    color: #ffffff;
    font-size: 20px;
    width: 40%;
    height: 50px;
    line-height: 50px;
    padding: 0;
  }